{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href={% static "createpost.css" %}>
{% endblock css %}

{% block body %}
    <form class="create-form" action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class= "tit">
            <label for="ti">Titulo</label>
            <input type="text" name="title" id="ti">
        </div>
        <div class="contenido">
            <label for="de">Contenido</label>
            <div class="de">
                <textarea name="desc" id="de"></textarea>
            </div>
        </div>

        <div class="im">
            <label for="im">Imagen:</label>
            <input type="file" name="image" id="im">
        </div>

        <div class="ct">
            <label for="c">Categoria:</label>
            <select name="category" id="c">
                {% for elem in categories %}
                    <option {% if elem.value == '18' %}selected{% endif %} value="{{elem.value}}">{{elem.category}}</option>
                {% endfor %}
            </select>
        
            <label for="t">Tipo de post:</label>
            <select name="type" id="t">
                {% for elem in types %}
                    <option {% if elem.value == '2' %}selected{% endif %} value="{{elem.value}}">{{elem.type}}</option>
                {% endfor %}
            </select>
            
        </div>
        <div class="sub">
            <input id="sub" type="submit">
        </div>

    </form>

{% endblock body %}