{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href={% static "createpost.css" %}>
{% endblock css %}

{% block body %}
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="ti">Titulo:</label>
        <input type="text" name="title" id="ti">
        <label for="de">Contenido:</label>
        <textarea name="desc" id="de"></textarea>
        <label for="im"></label>
        <input type="file" name="image" id="im">
        <label for="c">Categoria:</label>
        <select name="category" id="c">
            {% for elem in categories %}
                <option {% if elem.value == '18' %}selected{% endif %} value="{{elem.value}}">{{elem.category}}</option>
            {% endfor %}
        </select>
        <label for="t">Tipo:</label>
        <select name="type" id="t">
            {% for elem in types %}
                <option {% if elem.value == '2' %}selected{% endif %} value="{{elem.value}}">{{elem.type}}</option>
            {% endfor %}
        </select>
        <input type="submit">
    </form>
{% endblock body %}