<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'loginregister.css' %}">
    <title>MDS</title>
</head>
<body>
    <main class="container-main">
        <form class="log" action="/auth/login/" method="POST">
            {% csrf_token %}
            {% if userNotFound %}ERROR NOMBRE DE USUARIO O CONTRASEÑA INCORRECTA{% endif %}
            <ul class="lista">
                <li>
                    <label for="ul">Usuario:</label>
                    <input type="text" name="username" id="ul">
                </li>
                <li>
                    <label for="pl">Contraseña:</label>
                    <input type="password" name="password" id="pl">
                </li>
                <li class="btn">
                    {% if request.GET.next %}
                        <input type="hidden" name="next" value="{{request.GET.next}}">
                    {% endif %}
                    <input type="submit" name="action" value="login">
                </li>
            </ul>
        </form>
        <form class="reg" action="/auth/register/" method="POST">
            {% csrf_token %}
            {% if userExists %}ERROR: NOMBRE DE USUARIO EN USO{% endif %}
            {% if incorrectPassword %}ERROR: CONTRASEÑA ERRONEA{% endif %}
            {% if incorrectEmail %}ERROR: EMAIL ERRONEO{% endif %}
            <ul class="lista">
                <li>
                    <label for="ur">Usuario:</label>
                    <input type="text" name="username" id="ur">
                </li>
                <li>
                    <label for="pr">Contraseña:</label>
                    <input type="password" name="password1" id="pr">
                </li>
                <li>
                    <label for="prr">Repetir Contraseña:</label>
                    <input type="password" name="password2" id="prr">
                </li>
                <li>
                    <label for="e">Correo Electronico:</label>
                    <input type="email" name="email" id="e">
                </li>
                <li class="btn">
                    <input type="submit" name="action" value="register">
                </li>
            </ul>
        </form>
    </main>
</body>
</html>