<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/media/resource/favicon.png" type="image/x-icon">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'loginregister.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
</head>
<body>
    <div class="grid">
        <div>
            <img src="/media/resource/img2.png" alt="">
        </div>
        <div class="caja1">
        <form action="" method="POST" class="formulario2">
            {% csrf_token %}
            <h1>Inicia Sesión</h1>
            {% if userNotFound %}
                ERROR NOMBRE DE USUARIO O CONTRASEÑA INCORRECTA
            {% endif %}
            <div class="contenedor">
                <div class="input-contenedor">
                    <i class="fas fa-user icon"></i>
                    <input type="text" name="username" placeholder="Nombre de Usuario">
                </div>
                <div class="input-contenedor">
                    <i class="fas fa-key icon"></i>
                    <input type="password" name="password" placeholder="Contraseña">
                </div>
                {% if request.GET.next %}
                    <input type="hidden" name="next" value="{{request.GET.next}}">
                {% endif %}
                <input type="submit" name="action" value="Login" class="button">
            </div>
        </div>
        </form>
    </div>
        <div class="caja2">
        <form action="" method="POST" class="formulario1">
            {% csrf_token %}
            <h1>Crea tu cuenta</h1>
            {% if userExists %}ERROR: NOMBRE DE USUARIO EN USO{% endif %}
            {% if incorrectPassword %}ERROR: CONTRASEÑA ERRONEA{% endif %}
            {% if incorrectEmail %}ERROR: EMAIL ERRONEO{% endif %}
            <div class="contenedor">
                <div class="input-contenedor">
                    <i class="fas fa-user icon"></i>
                    <input type="text" name="username" placeholder="Nombre de Usuario">
                </div>
                <div class="input-contenedor">
                    <i class="fas fa-envelope icon"></i>
                    <input type="email" name="email" placeholder="Correo Electronico">
                </div>
                <div class="input-contenedor">
                    <i class="fas fa-key icon"></i>
                    <input type="password" name="password1" placeholder="Contraseña">
                </div>
                <div class="input-contenedor">
                    <i class="fas fa-key icon"></i>
                    <input type="password" name="password2" placeholder="Repetir Contraseña">
                </div>
                <input type="submit" name="action" value="Register" class="button">
            </div>
        </form>
        </div>
    </div>
</body>
</html>