<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/principal.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
</head>
<body>
    <header class="header">
    <nav class="contenedor logo-nav-contenedor">
        <div class="contenedor-logo">
            <img src="../img/logo.jpeg" width="100px" height="100px" alt="">
            <a href="#" class="logo">MDS<i>Metas de Desarrollo Sustentable</i></a>
        </div>
            <div class="caja-de-busqueda">
                <input class="boton-de-texto" type="text" name="" placeholder="Buscar">
                    <a class="boton-de-busqueda" href="#">
                        <i class="fas fa-search"></i>
                    </a>
            </div>

            <div class="icono-de-login">
                    <a class="fas fa-user" href="../html/registrovista.html"></a>
        </nav>
    </header><hr>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
            <img src="../img/bg.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Destacados</h5>
                <p>ODS#</p>
            </div>
            </div>
            <div class="carousel-item">
            <img src="../img/ods18.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Destacados</h5>
                <p>ODS#</p>
            </div>
            </div>
            <div class="carousel-item">
            <img src="../img/ods18-2.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Destacados</h5>
                <p>ODS#</p>
            </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        </div>
        <hr>
    <h1 class="titulo">CATEGORIAS</h1><hr>
    <div class="sprites">
        <div class="item" id="sprite1"></div>
        <div class="item" id="sprite2"></div>
        <div class="item" id="sprite3"></div>
        <div class="item" id="sprite4"></div>
        <div class="item" id="sprite5"></div>
        <div class="item" id="sprite6"></div>
        <div class="item" id="sprite7"></div>
        <div class="item" id="sprite8"></div>
        <div class="item" id="sprite9"></div>
        <div class="item" id="sprite10"></div>
        <div class="item" id="sprite11"></div>
        <div class="item" id="sprite12"></div>
        <div class="item" id="sprite13"></div>
        <div class="item" id="sprite14"></div>
        <div class="item" id="sprite15"></div>
        <div class="item" id="sprite16"></div>
        <div class="item" id="sprite17"></div>
        <div class="item" id="sprite18"></div>
    </div>

    <footer class="footer">
        <div class="contenedor-footer">
            <p>Blog diseñado por Metas de Desarrollo Sustentable</p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>