{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href={% static "profile.css" %}>
    <link rel="stylesheet" href={% static "buttonpages.css" %}>
{% endblock css %}

{% block body %}
    <main>
        <section class="session-profile">
            <div class="image-profile">
                {% if request.user.is_authenticated %}
                    <img src="/media/{{session_profile.img}}">
                {% else %}
                    <img src="/media/resource/user-icon.svg">
                {% endif %}
            </div>
            <div class="meta-profile">
                <h2>{{session_user.get_full_name|default:session_user.username|title}}</h2>
                <h3>Alias: {{session_user.username}}</h3>
                <span class="bio">{{session_profile.bio|default:"no hay biografia"|linebreaks}}</span>
                <span class="email">{{session_user.email}}</span>
                {% if editPermmision %}
                    <a class="edit edit1" href="create/">CREAR POST</a>
                    <a class="edit edit2" href="config/">CONFIG</a>
                {% endif %}
            </div>
        </section>
        <section class="container-post">
            {% if list_post %}
                <section class="list-posts">
                    {% for el in list_post %}
                        <a class="item-post" href="/details/{{el.id}}">
                            <h3>{{el.title|truncatechars:45}}</h3>
                            <p>{{el.description|truncatechars:220}}</p>
                            <span class="post-date">{{el.post_date|date:"d/m/Y H:i"}} hs</span>
                        </a>
                    {% endfor %}
                </section>
            {% else %}
                <p class="emty-post">SIN POSTS TODAVIA</p>
            {% endif %}
            {% include 'buttonpages.html' %}
        </section>
    </main>
{% endblock body %}