{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href={% static "buttonpages.css" %}>
{% endblock css %}

{% block body %}
    <main>
        <h2>BUSQUEDA: {{request.GET.search_input|default:"Todos los Post"}}</h2>
        <form class="filters" action="" method="GET">
            <input type="hidden" name="search_input" value="{{request.GET.search_input}}">
            <label for="c">Categoria:</label>
            <select name="category" id="c">
                {% for elem in categories %}
                    <option {% if elem.value == request.GET.category %}selected{% endif %} value="{{elem.value}}">{{elem.category}}</option>
                {% endfor %}
            </select>
            <label for="t">Tipo:</label>
            <select name="type" id="t">
                {% for elem in types %}
                    <option {% if elem.value == request.GET.type %}selected{% endif %} value="{{elem.value}}">{{elem.type}}</option>
                {% endfor %}
            </select>
            <label for="o">Orden:</label>
            <select name="order" id="o">
                {% for elem in orders %}
                    <option {% if elem.value == request.GET.order %}selected{% endif %} value="{{elem.value}}">{{elem.order}}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Filtrar">
        </form>
        <section class="search-results">
            {% if list_post %}
                {% for elem in list_post %}
                    <a href="/details/{{elem.id}}">
                        <h3>{{elem.title}}</h3>
                        <p>{{elem.description}}</p>
                        <span>{{elem.post_date}}</span>
                    </a>
                {% endfor %}
            {% else %}
                <h2>NO HAY POSTS CON ESTOS FILTROS</h2>
            {% endif %}
        </section>
        {% include 'buttonpages.html' %}
    </main>
    <script>
        let c = document.querySelector('#c')
        let t = document.querySelector('#t')
        let o = document.querySelector('#o')
        let ca = document.querySelector('#ca')
        let ty = document.querySelector('#ty')
        let orr = document.querySelector('#orr')
        c.addEventListener('change',e=>{
            ca.value = (""+(c.selectedIndex+1))
        })
        t.addEventListener('change',e=>{
            ty.value = (""+(t.selectedIndex+1))
        })
        o.addEventListener('change',e=>{
            orr.value = (""+(o.selectedIndex+1))
        })
    </script>
{% endblock body %}