{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href={% static "buttonpages.css" %}>
    <link rel="stylesheet" href={% static "search.css" %}>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&display=swap" rel="stylesheet">
{% endblock css %}

{% block body %}
    <main class="cont">
        <h2 class="title-general">BUSQUEDA: {{request.GET.search_input|default:"Todos los Post"}}</h2>
        <form class="filters" action="" method="GET">
            <input type="hidden" name="search_input" value="{{request.GET.search_input}}">
            <label class="op1" for="c">Categoria:</label>
            <select name="category" id="c">
                {% for elem in categories %}
                    <option {% if elem.value == request.GET.category %}selected{% endif %} value="{{elem.value}}">{{elem.category|capfirst}}</option>
                {% endfor %}
            </select>
            <label for="t">Tipo:</label>
            <select name="type" id="t">
                {% for elem in types %}
                    <option {% if elem.value == request.GET.type %}selected{% endif %} value="{{elem.value}}">{{elem.type|capfirst}}</option>
                {% endfor %}
            </select>
            <label for="o">Orden:</label>
            <select name="order" id="o">
                {% for elem in orders %}
                    <option {% if elem.value == request.GET.order %}selected{% endif %} value="{{elem.value}}">{{elem.order|capfirst}}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Filtrar">
        </form>
        <section class="search-results">
            {% if list_post %}
                {% for elem in list_post %}
                    <a class="cards" href="/details/{{elem.id}}" >
                            <div >
                                {% if elem.img %}
                                    <img class="img-imp" src="/media/{{elem.img}}">
                                {% else %}
                                    <img class="img-imp" src="/media/resource/img-logo.png">
                                {% endif %}
                            </div>
                            <div class="body-text">
                                <h3 class="font-title">{{elem.title|truncatechars:40 | capfirst}}</h3>
                                <p class="descr">{{elem.description|truncatechars:150 | capfirst}}</p>
                                <span class="date">{{elem.post_date|date:'d/m/Y  H:i'}}hs</span>
                            </div>
                    </a>
                {% endfor %}
            {% else %}
                <p class="empty-post">NO HAY POSTS CON ESTOS FILTROS</p>
            {% endif %}
        </section>
        {% include 'buttonpages.html' %}
    </main>
    <script>
        let c = document.querySelector('#c')
        let t = document.querySelector('#t')
        let o = document.querySelector('#o')
        let ca = document.querySelector('#ca')
        let ty = document.querySelector('#ty')
        let orr = document.querySelector('#orr')
        c.addEventListener('change',e=>{
            ca.value = (""+(c.selectedIndex+1))
        })
        t.addEventListener('change',e=>{
            ty.value = (""+(t.selectedIndex+1))
        })
        o.addEventListener('change',e=>{
            orr.value = (""+(o.selectedIndex+1))
        })
    </script>
{% endblock body %}