body {
    background-color: #eee;
}
.content-post {
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.title-post {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #aaa;
    margin: 10px;
}

.meta-post {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #aaa;
    padding: 0 10px;
}
span>a {
    color: #44f;
}

.category {
    display: block;
    margin: 20px 0 20px 0;
}
.category>a {
    padding: 8px;
    font-weight: 700;
    background-color: #0f0;
    border-radius: 20px;
}

.img-post {
    background-color: #eee;
    width: 95%;
    height: 400px;
    margin: 5px auto 15px auto;
    object-fit: contain;
}

.content-desc {
    width: 90%;
    margin: 0 auto 20px auto;
    font-size: 1.3rem;
    line-height: 150%;
}
.content-desc>p {
    margin: 10px;
}

.content-comment {
    width: 40%;
    background-color: #fff;
    margin: 5px auto;
    padding: 10px;
}

.form-comment {
    margin: 10px 10px 20px 10px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr .4fr;
}
.form-comment>input {
    padding: 10px;
}
.form-comment>input[type="text"] {
    width: 90%;
}
.form-comment>input[type="submit"] {
    width: 80%;
}

.comments-title {
    font-size: 1.8rem;
    margin: 10px;
}
.container-comments {
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    gap: 20px;
}

.msj-error {
    width: 100%;
    text-align: center;
}
.msj-login {
    display: flex;
    justify-content: center;
    width: 100%;
}

.comment-item {
    width: 90%;
}
.author-comm {
    font-size: 1rem;
}
.date-comm {
    color: #aaa;
}
.comment-item>p {
    padding-left: 20px;
    margin: 10px;
}