.carousel-indicators>button[data-bs-target] {
    background-color: #000;
}
.carousel-inner {
    height: 400px;
    padding-top: 5%;
}
.carousel-item {
    position: relative;
}
.carousel-item>div {
    object-fit: cover;
}
.carousel-caption {
    color: #000;
    width: 80%;
    margin: auto;
    padding: 10%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.carousel-caption>h5 {
    font-size: 2rem;
    font-weight: 700;
}
.carousel-caption>p {
    font-size: 1rem;
    font-weight: 600;
}
.carousel-item img {
    opacity: .5;
}
.carousel-control-prev,.carousel-control-next {
    background-color: #000;
}
#carouselExampleCaptions{
    width: 90%;
    margin: 0 auto;
    padding: 0 220px;
}
.w-100{
    width: 100%;
    height: 200%;
    padding: 10px 150px;

}

.titulo{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.sprites{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-auto-rows: 111px;
    gap: 2em;
    justify-content: center;
    padding: 5% 40%;
}

.item {
    background-image: url(/media/resource/icon-category.png);
}

.item:hover {
    transform: scale(0.95);
    cursor: pointer;
}

.sprites > a{
    border: none;
}

.sprites > a > img:hover{
    border: 2px solid orange;
}

#sprite1{
    width: 111px;
    height: 111px;
    background-position: 0px -95px;
}


#sprite2{
    width: 111px;
    height: 111px;
    background-position: -125px -95px;
}

#sprite3{
    width: 111px;
    height: 111px;
    background-position: -250px -95px;
}

#sprite4{
    width: 111px;
    height: 111px;
    background-position: -372px -95px;
}

#sprite5{
    width: 111px;
    height: 111px;
    background-position: -495px -95px;
}

#sprite6{
    width: 111px;
    height: 111px;
    background-position: -620px -95px;
}

#sprite7{
    width: 111px;
    height: 111px;
    background-position: -2px -218px;
}

#sprite8{
    width: 111px;
    height: 111px;
    background-position: -124px -218px;
}

#sprite9{
    width: 111px;
    height: 111px;
    background-position: -250px -218px;
}

#sprite10{
    width: 111px;
    height: 111px;
    background-position: -373px -218px;
}

#sprite11{
    width: 111px;
    height: 111px;
    background-position: -496px -218px;
}

#sprite12{
    width: 111px;
    height: 111px;
    background-position: -620px -218px;
}

#sprite13{
    width: 111px;
    height: 111px;
    background-position: -2px -340px;
}

#sprite14{
    width: 111px;
    height: 111px;
    background-position: -123px -340px;
}

#sprite15{
    width: 111px;
    height: 111px;
    background-position: -248px -340px;
}

#sprite16{
    width: 111px;
    height: 111px;
    background-position: -372px -340px;
}

#sprite17{
    width: 111px;
    height: 111px;
    background-position: -496px -340px;
}

#sprite18{
    width: 111px;
    height: 111px;
    background-position: -620px -340px;
}