*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    margin: 0;
    padding: 0;
    background: #eee;
}


header{
    background: url(../img/header1.jpg);
    padding: 1.1rem;
}

.logo-nav-contenedor{
    display: flex;
    justify-content:space-around;
    gap: 800px;
}


.caja-de-busqueda{
    position: absolute;
    top: 4%;
    left: 35%;
    background: whitesmoke;
    height: 35px;
    border-radius: 25px;
    padding: 7px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
}

.caja-de-busqueda:hover > .caja-de-texto{
    width: 350px;
    padding: 10px;
}
.caja-de-busqueda:hover > .boton-de-busqueda{
    background: orange;
}


.boton-de-busqueda{
    color:white;
    float: right;
    width: 23px;
    height: 23px;
    border-radius: 50px;
    background: #1a2537;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.boton-de-texto{
    border:none;
    background: none;
    outline: none;
    float: left;
    color: black;
    font-size: 16px;
    transition: 0.45s;right: 0cm;
    line-height: 22px;
    width: 350px;
}

.fa-user{
    color: whitesmoke;
    background: #1a2537;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    padding: 20px;
    font-size: 20px;
    transition: .3s case all;
    align-items: center;
}

.contenedor-logo{
    display: flex;
    
}

.contenedor-logo > a{
    justify-self: end;
}

.icono-de-login:hover > .fa-user{
    background: orange;
}

.logo{
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    color: orange;
    padding-top: 65px;
    justify-items: left;
}

.logo:hover{
    color:white;
}

i{
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

hr{
    width: 100%;
    text-align: center;
    padding: 1px 10px;

}

#carouselExampleCaptions{
    width: 100%;
    padding: 0 220px;
}

.w-100{
    width: 100%;
    height: 200%;
    padding: 10px 150px;

}
.carousel-control-prev > carousel-indicators{
    color: #1a2537;
}

a{
    text-decoration: none;
}

.titulo{
    text-align: center;
    padding: 2px 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.sprites{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-auto-rows: 100px;
    gap: 2em;
    justify-content: center;
    padding: 2em 20em;
}

.item:hover {
    transform: scale(0.95);
    cursor: pointer;
}

.sprites > div{
    border: 2px solid whitesmoke;
}

.sprites div:hover{
    border: 2px solid orange;
}

#sprite1{
    background-image: url(../img/ods.jpeg);
    width: 111px;
    height: 111px;
    background-position: 0px -95px;
}


#sprite2{
    background-image: url(../img/ods.jpeg);
    width: 111px;
    height: 111px;
    background-position: -125px -97px;
}

#sprite3{
    background-image: url(../img/ods.jpeg);
    width: 111px;
    height: 111px;
    background-position: -251px -97px;
}

#sprite4{
    background-image: url(../img/ods.jpeg);
    width: 111px;
    height: 111px;
    background-position: -372px -97px;
}

#sprite5{
    background-image: url(../img/ods.jpeg);
    width: 111px;
    height: 111px;
    background-position: -495px -97px;
}

#sprite6{
    background-image: url(../img/ods.jpeg);
    width: 111px;
    height: 111px;
    background-position: -620px -97px;
}

#sprite7{
    background-image: url(../img/ods.jpeg);
    width: 111px;
    height: 111px;
    background-position: -3px -220px;
}

#sprite8{
    background-image: url(../img/ods.jpeg);
    width: 111px;
    height: 111px;
    background-position: -124px -220px;
}

#sprite9{
    background-image: url(../img/ods.jpeg);
    width: 111px;
    height: 111px;
    background-position: -251px -220px;
}

#sprite10{
    background-image: url(../img/ods.jpeg);
    width: 111px;
    height: 111px;
    background-position: -374px -220px;
}

#sprite11{
    background-image: url(../img/ods.jpeg);
    width: 111px;
    height: 111px;
    background-position: -498px -220px;
}

#sprite12{
    background-image: url(../img/ods.jpeg);
    width: 111px;
    height: 111px;
    background-position: -620px -220px;
}

#sprite13{
    background-image: url(../img/ods.jpeg);
    width: 111px;
    height: 111px;
    background-position: -3px -340px;
}

#sprite14{
    background-image: url(../img/ods.jpeg);
    width: 111px;
    height: 111px;
    background-position: -123px -340px;
}

#sprite15{
    background-image: url(../img/ods.jpeg);
    width: 111px;
    height: 111px;
    background-position: -248px -340px;
}

#sprite16{
    background-image: url(../img/ods.jpeg);
    width: 111px;
    height: 111px;
    background-position: -372px -340px;
}

#sprite17{
    background-image: url(../img/ods.jpeg);
    width: 111px;
    height: 111px;
    background-position: -498px -340px;
}

#sprite18{
    background-image: url(../img/ods.jpeg);
    width: 111px;
    height: 111px;
    background-position: -620px -340px;
}

.contenedor-footer{
    background-color: #1a2537;
    width: 100%;
    height: 50px;
}

p{
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    padding-top: 1em;
}

